<footer class="bg-color text-center text-white ubicacion pt-5">
    <!-- Grid container -->
    <div class="container p-5 pb-0 bg-color2">
      <!-- Section: Social media -->
      <section class="mb-1">

        <!-- Linkedin 1 -->
        <a class="btn btn-outline-warning btn-floating m-1"
          href="https://www.linkedin.com/in/diego-alejandro-mu%C3%B1oz-artunduaga-021784184/" target="_blank"
          role="button"><i class="bi bi-linkedin"></i></a>

        <!-- Github 1 -->
        <a class="btn btn-outline-warning btn-floating m-1 me-3" href="https://github.com/Al3jox" target="_blank"
          role="button"><i class="bi bi-github"></i></a>

        <!-- Linkedin 2 -->
        <a class="btn btn-outline-warning btn-floating m-1" href="https://www.linkedin.com/in/96vannesacifuentes/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>

        <!-- Github 2 -->
        <a class="btn btn-outline-warning btn-floating m-1 me-3" href="https://github.com/svannesa" target="_blank"
          role="button"><i class="bi bi-github"></i></a>

        <!-- Linkedin 3 -->
        <a class="btn btn-outline-warning btn-floating m-1" href="https://www.linkedin.com/feed/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>

        <!-- Github 3 -->
        <a class="btn btn-outline-warning btn-floating m-1 me-3" href="https://github.com/NataliaNova" target="_blank"
          role="button"><i class="bi bi-github"></i></a>

        <!-- Linkedin 4 -->
        <a class="btn btn-outline-warning btn-floating m-1" href="https://www.linkedin.com/feed/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>

        <!-- Github 4 -->
        <a class="btn btn-outline-warning btn-floating m-1" href="https://github.com/Cristianjcs" target="_blank"
          role="button"><i class="bi bi-github"></i></a> 
          
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white">Taller 10 AvnMotors - Equipo #2</a>
    </div>
    <!-- Copyright -->
  </footer>